body{
    background-color: #ffffff !important;
}
.leftside-menu {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.no-shadow {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.page-title-box .page-title {   
    text-decoration-line: underline !important;
    text-underline-offset: 8px !important;
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .75rem;
    color: #ff5b5b;
}
#filterBox{
    display: none;
}

#filter-form{
    border: 1px solid #dee2e6;
    padding: 10px;
}

.b-l {
    border-left: 1px solid rgba(120,130,140,.13);
}

.filter-button{
    margin-top: 28px;
}

.side-nav .side-nav-link {
    padding: 10px 18px !important;
    font-size: .9365rem !important;
}
.side-nav-second-level li a, .side-nav-third-level li a {
    padding: 8px 30px 8px 51px !important;
}
.upload-label {
    display: inline-block;
    background-color: #727CF5;
    color: white;
    padding: 0px 13px 2px 13px;
    font-size: 23px;
    cursor: pointer;
}
body[data-leftbar-theme=dark] .leftside-menu {
    background: #3E4097;
}
body[data-leftbar-theme=dark] .leftside-menu .logo {
    background: #E9FAFF !important;
}
.navbar-custom {
    background-color: #E9FAFF !important;
}
.navbar-custom {   
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nav-user {   
    background-color:inherit ;  
}
.text-primary{
    color: #3E4097 !important;
}
.table .thead-grey th {
    color: #000000;
    background-color: #D9D9D9;
    border-color: #D9D9D9;
}
.btn-primary {
    color: #fff;
    background-color: #3E4097 !important;
    border-color: #3E4097 !important;
}
body[data-leftbar-compact-mode=condensed]:not(.authentication-bg) .side-nav .side-nav-item:hover>.collapse>ul, body[data-leftbar-compact-mode=condensed]:not(.authentication-bg) .side-nav .side-nav-item:hover>.collapsing>ul {   
    width: 262px !important;
}

body[data-leftbar-compact-mode=condensed]:not(.authentication-bg) .side-nav .side-nav-item:hover .side-nav-link {
    width: 332px !important;
}